<footer>
  <div
    class="px-8 py-12 mx-auto md:px-12 max-w-screen-xl lg:py-12 text-white"
  >
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="grid grid-cols-2 lg:grid-cols-2 max-w-xl gap-2 gap-y-12">
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Proyectos
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a class="text-zinc-500 hover:">
                He relizado un aproximado de 10 proyectos completos de programación.
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Servicio
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a class="text-zinc-500 hover:">
                Me encuentro impartiendo mi servicio social en el desarrollo de un sitio web.
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            White Collar
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a
                class="text-zinc-500 hover:"
              >
                Maestro de Inglés
              </a>
            </li>
            <li>
              <a
                class="text-zinc-500 hover:"
              >
                Intérprete
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Blue Collar
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a
                class="text-zinc-500 hover:"
              >
                Overhaul de Helicópteros
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="gap-x-8 gap-y-6 lg:col-span-2 text-zinc-500 font-light uppercase"
      >
        <p class="lg:col-span-2 md:text-base xl:text-2xl">
          Experiencia relacionada a mi carrera
          <br />
          <br />
          <br />
          <br />
           Experiencia laborar en general
        </p>
      </div>
    </div>
    
  </div>
</footer>
